@mixin media-query($mq) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $alias: nth($breakpoint, 1);
    $condition: nth($breakpoint, 2);

    @if ($alias == $mq) {
      $breakpoint-found: true;

      @media #{$condition} {
        @content;
      }
    }
  }

  @if ($breakpoint-found == false) {
    @warn 'Could not find #{$mq} in breakpoints!';
  }
}
