<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHI</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <!-- Shows handlebars nav -->
    {{> nav}}
    <div id="main">{{{ markup }}}</div>

    <script type="text/javascript"> window.INITIAL_STATE = {{{ state }}}; </script>
    <!-- Shows Handlebar views -->
    <!-- {{{body}}} -->
  </body>
  <script src="http://localhost:3333/js/bundle.js"></script>
</html>
