.c-button {
  background: $color-secondary;
  border: 0;
  border-radius: $base-radius;
  color: $color-type--inverse;
  cursor: pointer;
  font-size: $font-size;
  outline: 0;
  margin-top: $spacing;
  padding: $spacing;
  text-transform: uppercase;
  transition: all 0.3 ease;
  width: 100%;
  -webkit-transition: all 0.3 ease;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: darken($color-secondary, 7);
  }
}
 .c-button__file {
   width: 300px;
 }
