.c-nav__link {
  color: $color-ui-light;
  font-size: $font-size--small;
  font-weight: $font-weight--bold;
  margin-right: $spacing;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-secondary;
  }

  .c-nav--right & {
    margin-left: $spacing;
    margin-right: 0;
  }
}
