.c-panel {
  margin: 0 0 $spacing 0;
  padding-top: $spacing;
  position: relative;
}

.c-panel__head {
  background-color: $color-ui-white;
  color: $color-type;
  margin-bottom: $spacing--small;

  .c-panel--small & { padding: $spacing--small; }
  .c-panel--large & { padding: $spacing--large; }
}

.c-panel__heading {
  font-size: $font-size * 1.25;
  font-weight: $font-weight--bold;
  margin: 0;
}

.c-panel__content {
  background-color: $color-ui-light;
  padding: $spacing--large;

  .c-panel--small & { padding: $spacing--small; }
  .c-panel--large & { padding: $spacing--large; }
}

.c-panel__content--alt {
  background-color: $color-ui-light;
}

.c-panel__content:last-child {
  border-bottom-left-radius: $base-radius;
  border-bottom-right-radius: $base-radius;
}

.c-select-panel{
  padding: $spacing--large;
  background-color: $color-ui-light;
}
