.c-panel {
  padding: $spacing;
  margin: $spacing;
  position: relative;
  width: 100%;
  font-weight: $font-weight--bold;
  font-size: $font-size * 1.25;
  background-color: #FCFCFC;
  border: 1px solid #E7E7E7;
  box-shadow: 0 8px 16px #f3f3f3;
}

.c-panel__head {
  color: $color-type;
  margin-bottom: $spacing--small;

  .c-panel--small & { padding: $spacing--small; }
  .c-panel--large & { padding: $spacing--large; }
}

.c-panel__heading {
  font-size: $font-size * 1.25;
  font-weight: $font-weight--bold;
  margin: 0;
}

.c-panel__content {
  padding: $spacing--large;

  .c-panel--small & { padding: $spacing--small; }
  .c-panel--large & { padding: $spacing--large; }
}

.c-panel__content--alt {

}

.c-panel__content:last-child {
  border-bottom-left-radius: $base-radius;
  border-bottom-right-radius: $base-radius;
}

.c-select-panel{
  padding: $spacing--large;
}
