// Select

.c-select {
  // -moz-appearance: none;
  // -webkit-appearance: none;
  // appearance: none;
  background-color: $color-ui-white;
  // background-image: url('/arrow.png');
  // background-position: right $spacing--small top $spacing;
  // background-repeat: no-repeat;
  border: 1px solid $color-ui-medium;
  border-radius: $base-radius;
  display: block;
  font: inherit;
  line-height: normal;
  overflow: hidden;
  position: relative;
  height:45px;
  width: 100%;
  margin: 0 0 $spacing 0;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    border-color: $color-primary;
  }
}

.c-select--valid {
  border-color: $color-status-success;
}

.c-select--error {
  border-color: $color-status-error;
}

.c-select--is-open {
  border-bottom-color: $color-ui-light;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &:hover,
  &:focus {
    border-bottom-color: $color-ui-light;
  }
}

.c-select__arrow,
.c-select__clear {
  background-color: transparent;
  border: 0;
  color: $color-ui-medium;
  font: inherit;
  padding: 0;
  position: absolute;
  right: $spacing--small + ($spacing--tiny / 2);
  top: $spacing--small;
  width: $spacing;

  &:focus,
  &:hover {
    color: $color-ui-dark;
    outline: none;
  }
}

.c-select__arrow {
  border: $spacing--tiny solid transparent;
  border-top-color: $color-ui-medium;
  height: $spacing--small;
  top: $spacing--small + ($spacing--small);
  width: $spacing--small;

  &:hover {
    border-top-color: $color-ui-dark;
  }
}

.c-select__clear {
  right: $spacing + $spacing--small;
}

.c-select__input {
  border: 0;
  font: inherit;
  padding: $spacing--small;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.c-select__options {
  border: 1px solid $color-ui-medium;
  border-bottom-left-radius: $base-radius;
  border-bottom-right-radius: $base-radius;
  border-top: 0;
  display: none;
  max-height: $spacing * 10;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.c-select__options--is-open {
  display: block;
}

.c-select__option {
  background-color: $color-ui-white;
  cursor: pointer;
  font-size: $font-size--small;
  padding: $spacing--small;

  &:focus,
  &:hover {
    background-color: $color-ui-light;
    color: $color-type;
  }
}

.c-select__option-helper,
.c-select__option-value {
  color: $color-type;
  display: inline-block;
  vertical-align: middle;

  .c-select__option--is-selected & {
    color: $color-ui-white;
  }
}

.c-select__option-helper {
  color: $color-ui-medium;
  font-size: $font-size--tiny;
  margin-left: $spacing--small;
}

.c-select__option--is-selected,
.c-select__option--is-selected:hover {
  background-color: $color-primary;
  color: $color-ui-white;
}

.c-select__option--is-loading {
  padding-left: $spacing + $spacing--small + $spacing--small;

  &::before {
    animation: spinner .6s ease-out infinite;
    border: 1px solid $color-ui-light;
    border-radius: $spacing--large;
    border-top-color: $color-primary;
    content: ' ';
    height: $spacing;
    left: $spacing--small;
    position: absolute;
    top: $spacing--small + 2.5px; // Compensate for weird input height.
    width: $spacing;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
