.c-select {
  background-color: $color-ui-light;
  color: $color-accent;
  border: 0 solid $color-primary;
  border-radius: 0;
  display: block;
  font: inherit;
  line-height: normal;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 $spacing;
  margin: $spacing 0;
  
  height: 50px;

  &:focus{
    outline: none;
  }

  &:hover,
  &:focus {
    background-color: darken($color-ui-light, 5%);
  }
}
