.c-select {
  background-color: $color-ui-white;
  border: 1px solid $color-ui-medium;
  display: block;
  font: inherit;
  line-height: normal;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: $spacing;
  margin-top: $spacing;
  margin-bottom: $spacing;
  height: 50px;

  &:focus{
    outline: none;
  }

  &:hover,
  &:focus {
    background-color: $color-ui-white;
  }
}
