// .cls-1 {
//   fill:#fff;
// }
//
// .text {
//   font-size:48px;
//   font-family:FiraSans-Regular, Fira Sans;
//   letter-spacing:0.19em;
// }
//
// @keyframes popup {
//   0% {
//     transform: translateY(0px);
//   }
//   34% {
//     transform: translateY(25px);
//   }
//   100% {
//     transform: translateY(0px);
//   }
// }
//
// .vote-card {
//
//   animation: popup 10s 6.5s ease;
// }

.svg {
  width: 25%;
  height: 25%;
}


.cls-1 {
  fill:#424242;
}
.cls-2 {
  fill:#0085c7;
}
.cls-3 {
  fill:#d0ab80;
}
.cls-4 {
  opacity:0.25;
}
.cls-5 {
  fill:#fff;
}
.cls-6 {
  opacity:0.1;
}
.cls-7 {
  fill:none;stroke:#000;stroke-miterlimit:10;
}
.cls-8 {
  fill:#00fcff;
}
.cls-9 {
  fill:#542c0b;
}
