body {
  background: linear-gradient($color-accent, $color-primary);
  color: $color-type;
  font-family: $font-family;
  font-size: $font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  vertical-align: bottom;
  overflow-x: hidden;
}
