html {
  min-height: 100%;
}

html,
body,
#main,
.root {
  height: 100%;
  background-attachment: fixed;
}

.root {
  display: table;
  width: 100%;
}

.c-footer {
  display: table-row;
  height: 1px;
}

.c-footer-links {
  
}
