html {
  min-height: 100%;
}

html,
body,
#main,
.root {
  height: 100%;
  background-attachment: fixed;
}

.root {
  display: table;
  width: 100%;
}

.c-footer {
  display: table-row;
  height: 1px;
  background: $color-accent;
  color: $color-ui-light;
  border-top: 1px solid #E7E7E7;
  box-shadow: 0 8px 16px #f3f3f3;
}

.c-footer-links {

}
