*,
*::before,
*::after {
  box-sizing: border-box;
}

// Container will be 100% always on the backend.
.container {
  @include clear();
  margin: 0 auto;
  max-width: 95%;
  width: 95%;

  @include query('small') {
    width: $screen-small;
  }

  @include query('medium') {
    width: $screen-medium;
  }
}

.row {
  @include clear();

  @include query('small') {
    margin-left: (($default-spacing * 2) * -1);
  }
}

.col {
  width: 100%;

  @include query('small') {
    float: left;
    min-height: 1px;
    padding-left: ($default-spacing * 2);

    &.small-fourth {
      width: 25%;
    }

    &.small-third {
      width: 33%;
    }

    &.small-half {
      width: 50%;
    }

    &.small-two-thirds {
      width: 66%;
    }

    &.small-full {
      width: 100%;
    }

    &.push-fourth {
      margin-left: 25%;
    }

    &.push-half {
      margin-left: 50%;
    }
  }

}
