// Base Padding
.u-p { padding: $spacing; }
.u-pv { padding-top: $spacing; padding-bottom: $spacing; }
.u-ph { padding-left: $spacing; padding-right: $spacing; }
.u-pt { padding-top: $spacing; }
.u-pb { padding-bottom: $spacing; }
.u-pl { padding-left: $spacing; }
.u-pr { padding-right: $spacing; }

// Remove padding
.u-p0 { padding: 0; }
.u-pv0 { padding-top: 0; padding-bottom: 0; }
.u-ph0 { padding-left: 0; padding-right: 0; }
.u-pt0 { padding-top: 0; }
.u-pb0 { padding-bottom: 0; }
.u-pl0 { padding-left: 0; }
.u-pr0 { padding-right: 0; }

// Tiny padding
.u-p-- { padding: $spacing--tiny; }
.u-pv-- { padding-top: $spacing--tiny; padding-bottom: $spacing--tiny; }
.u-ph-- { padding-left: $spacing--tiny; padding-right: $spacing--tiny; }
.u-pt-- { padding-top: $spacing--tiny; }
.u-pb-- { padding-bottom: $spacing--tiny; }
.u-pl-- { padding-left: $spacing--tiny; }
.u-pr-- { padding-right: $spacing--tiny; }

// Small padding
.u-p- { padding: $spacing--small; }
.u-pv- { padding-top: $spacing--small; padding-bottom: $spacing--small; }
.u-ph- { padding-left: $spacing--small; padding-right: $spacing--small; }
.u-pt- { padding-top: $spacing--small; }
.u-pb- { padding-bottom: $spacing--small; }
.u-pl- { padding-left: $spacing--small; }
.u-pr- { padding-right: $spacing--small; }

// Large padding
.u-p\+ { padding: $spacing--large; }
.u-pv\+ { padding-top: $spacing--large; padding-bottom: $spacing--large; }
.u-ph\+ { padding-left: $spacing--large; padding-right: $spacing--large; }
.u-pt\+ { padding-top: $spacing--large; }
.u-pb\+ { padding-bottom: $spacing--large; }
.u-pl\+ { padding-left: $spacing--large; }
.u-pr\+ { padding-right: $spacing--large; }

// Huge padding
.u-p\+\+ { padding: $spacing--huge; }
.u-pv\+\+ { padding-top: $spacing--huge; padding-bottom: $spacing--huge; }
.u-ph\+\+ { padding-left: $spacing--huge; padding-right: $spacing--huge; }
.u-pt\+\+ { padding-top: $spacing--huge; }
.u-pb\+\+ { padding-bottom: $spacing--huge; }
.u-pl\+\+ { padding-left: $spacing--huge; }
.u-pr\+\+ { padding-right: $spacing--huge; }

// Base Margin
.u-m { margin: $spacing; }
.u-mv { margin-top: $spacing; margin-bottom: $spacing; }
.u-mh { margin-left: $spacing; margin-right: $spacing; }
.u-mt { margin-top: $spacing; }
.u-mb { margin-bottom: $spacing; }
.u-ml { margin-left: $spacing; }
.u-mr { margin-right: $spacing; }

// Remove margin
.u-m0 { margin: 0; }
.u-mv0 { margin-top: 0; margin-bottom: 0; }
.u-mh0 { margin-left: 0; margin-right: 0; }
.u-mt0 { margin-top: 0; }
.u-mb0 { margin-bottom: 0; }
.u-ml0 { margin-left: 0; }
.u-mr0 { margin-right: 0; }

// Tiny margin
.u-m-- { margin: $spacing--tiny; }
.u-mv-- { margin-top: $spacing--tiny; margin-bottom: $spacing--tiny; }
.u-mh-- { margin-left: $spacing--tiny; margin-right: $spacing--tiny; }
.u-mt-- { margin-top: $spacing--tiny; }
.u-mb-- { margin-bottom: $spacing--tiny; }
.u-ml-- { margin-left: $spacing--tiny; }
.u-mr-- { margin-right: $spacing--tiny; }

// Small margin
.u-m- { margin: $spacing--small; }
.u-mv- { margin-top: $spacing--small; margin-bottom: $spacing--small; }
.u-mh- { margin-left: $spacing--small; margin-right: $spacing--small; }
.u-mt- { margin-top: $spacing--small; }
.u-mb- { margin-bottom: $spacing--small; }
.u-ml- { margin-left: $spacing--small; }
.u-mr- { margin-right: $spacing--small; }

// Large margin
.u-m\+ { margin: $spacing--large; }
.u-mv\+ { margin-top: $spacing--large; margin-bottom: $spacing--large; }
.u-mh\+ { margin-left: $spacing--large; margin-right: $spacing--large; }
.u-mt\+ { margin-top: $spacing--large; }
.u-mb\+ { margin-bottom: $spacing--large; }
.u-ml\+ { margin-left: $spacing--large; }
.u-mr\+ { margin-right: $spacing--large; }

// Huge margin
.u-m\+\+ { margin: $spacing--huge; }
.u-mv\+\+ { margin-top: $spacing--huge; margin-bottom: $spacing--huge; }
.u-mh\+\+ { margin-left: $spacing--huge; margin-right: $spacing--huge; }
.u-mt\+\+ { margin-top: $spacing--huge; }
.u-mb\+\+ { margin-bottom: $spacing--huge; }
.u-ml\+\+ { margin-left: $spacing--huge; }
.u-mr\+\+ { margin-right: $spacing--huge; }
