.u-text-center { text-align: center; }
.u-text-left { text-align: left; }
.u-text-right { text-align: right; }

.u-text-muted { color: $color-ui-medium; }

.u-text-- { font-size: $font-size--tiny; }
.u-text- { font-size: $font-size--small; }
.u-text\+ { font-size: $font-size--large; }
.u-text\+\+ { font-size: $font-size--huge; }

.u-text--inverse {
  color: $color-type--inverse;
}
