$widths-columns: 1 2 3 4;

@mixin widths($widths-columns, $breakpoint: null) {
  @each $denominator in $widths-columns {
    @for $numerator from 1 to $denominator {
      .u-#{$numerator}\/#{$denominator}#{$breakpoint} {
        width: ($numerator / $denominator) * 100%;
      }
    }
  }
}

@include widths($widths-columns);

@each $breakpoint in $breakpoints {
  $alias: nth($breakpoint, 1);

  @include media-query($alias) {
    @include widths($widths-columns, \@#{$alias});
  }
}
