$color-ui-white: #F7F7F7;
$color-ui-light: #E5E5E5;
$color-ui-medium: #BFBFBF;
$color-ui-dark: #404040;
$color-ui-black: #222222;

$color-primary: #2A78FF;
$color-secondary: #FFC944;
$color-accent: #44CBFF;

$color-background: $color-ui-light;

$color-type: $color-ui-black;
$color-type--inverse: $color-ui-white;

// #E8A50F
