$color-ui-white: #FFFFFF;
$color-ui-light: #E6E6E6;
$color-ui-medium: #CCCCCC;
$color-ui-dark: #444444;

$color-primary: #007EB8;

$color-secondary: #007EB8;
// $color-accent: #82FFCA;


$color-background: $color-ui-dark;

$color-type: $color-ui-dark;
$color-type--inverse: $color-ui-light;

$color-status-success: mix(#3c6, $color-primary, 75);
$color-status-error: mix(#f33, $color-primary, 75);

// Midnight blue - #124471
// AI mb - #0E83E6
//
// Bleu De France - #1D85E3
// AI bfd - #5EE1F3
//
// Turquoise Blue - #65E1F1
// AI - #B2BCCC
//
// Cadet Blue - #B2BCCC
//
// Black - #222222
//
// White - #f2f2f2
