.o-drop--can-drop,
.o-drop--is-over {
  position: relative;

  &::after {
    background-color: transparentize($color-primary, .1);
    border-radius: $base-radius;
    box-shadow: inset 0 0 0 2px $color-primary;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.o-drop--is-over {
  &::after {
    background-color: transparentize($color-status-success, .1);
    box-shadow: inset 0 0 0 2px $color-status-success;
  }
}
