.o-flex-layout {
  display: table;
  width: 100%;
}

.o-flex-layout__item {
  display: table-cell;
  padding-left: $spacing;

  .o-flex-layout--small & {
    padding-left: $spacing--small;
  }

  &:first-child {
    padding-left: 0;
  }
}

.o-flex-layout__item--grow {
  width: 100%;
}

.o-flex-layout__item--shrink {
  width: 1px;
}

.o-flex-layout__item--top {
  vertical-align: top;
}

.o-flex-layout__item--middle {
  vertical-align: middle;
}

.o-flex-layout__item--bottom {
  vertical-align: bottom;
}
