.o-heading-main {
  font-size: $font-size * 2;
  font-weight: $font-weight--bold;
  margin-bottom: $spacing;
  // padding-top: $spacing;
}

.o-heading-sub {
  font-size: $font-size * 1.5;
  font-weight: $font-weight--semibold;
  margin-bottom: $spacing;
}

.o-heading-section {
  font-size: $font-size * 1.25;
  font-weight: $font-weight--semibold;
  margin-bottom: $spacing--small;
}

.o-heading-nav {
  font-size: $font-size * 1.5;
  font-weight: $font-weight--bold;
  margin-bottom: $spacing--small;
  color: $color-primary;
  margin-right: $spacing;
  text-decoration: none;
}
