.o-layout {
  letter-spacing: -.31em;
  margin-left: $spacing * -1;
}

.o-layout--center {
  text-align: center;
}

  .o-layout__item {
    display: inline-block;
    letter-spacing: normal;
    padding-left: $spacing;
    vertical-align: top;
    width: 100%;

    .o-layout--middle & {
      vertical-align: middle;
    }

    .o-layout--center & {
      text-align: left;
    }
  }
