.o-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing--large;
  padding-right: $spacing--large;
  width: 100%;
}

.o-wrapper--main {
  background-color: $color-ui-white;
  height:100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing--large;
  padding-right: $spacing--large;
  position: relative;
  z-index: 0;
  transition: width 2s;
}

.o-wrapper--sidenav {
  background-color: $color-ui-white;
  width: 25%;
  padding-left: $spacing--large;
  padding-right: $spacing--large;
}
