.o-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing--large;
  padding-right: $spacing--large;
  width: 100%;
}

.o-wrapper--main {
  background-color: $color-ui-white;
  height:100%;
  padding-left: $spacing--large;
  padding-right: $spacing--large;
}

@include media-query('lap-and-up') {
  .o-wrapper {
    max-width: 42.67em;
  }

  .o-wrapper--tiny {
    max-width: (480 / ($base-size / 1px)) * 1em;
  }

  .o-wrapper--narrow {
    max-width: 35.55em;
  }

  .o-wrapper--wide {
    max-width: 56.89em;
  }
}
