.o-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing--large;
  padding-right: $spacing--large;
  width: 90%;
  height: 100%;
}

.o-wrapper--sidenav {
  // background-color: $color-ui-white;
  width: 25%;
  padding-left: $spacing--large;
  padding-right: $spacing--large;
}
